body{
    background-color: grey;
}



h1{
    position: fixed;
    top: 10px;
    background-color: white;
   
    top: 0px;
    margin: 0%;

}

ul{
    margin: 75px;
    
}

li{
   
    padding: 3px;
    margin: 75px;
    list-style: none;
    background-color: white;
    
}

img{
    background-image: 0px;
    height: 20px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
}


